#navList{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: grey;
  width:110px;
  height:100%;
  position:fixed;
  top:0px;
  left:0px;
  vertical-align: center;
  place-items: center;
  }
  


#navList li{
    background-color: grey;
    text-align: center;
    color:white;
    border-width: 1px;
    padding: 5px
    

}

#content{
    margin-left: 120px;
    height:100%
}

body{
    background:white
    
}
